<div id="secondary" class="col-sm-3 sidebar" style="display: none;">
  <aside>
    <div class="about">
      <h4>About</h4>
      <p>My name is Simon Iong, I'm a full-stack freelance developer from China now living in Macau. I build apps and products, and interested in new web technologies, such as Ruby on Rails and iOS.</p>
    </div>

    <div class="tags">
      <h4>Tags</h4>
      <ul>
        <li>
          <a href="tag.html" class="label label-danger">CSS3</a>
        </li>
        <li>
          <a href="tag.html" class="label label-primary">HTML5</a>
        </li>
      </ul>
    </div>

    <div class="socialmedia">
      <h4>Social Profile</h4>
      <div class="socials-sidebar">
        <a class="btn btn-twitter" href="#" title="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-github" href="#" title="GitHub">
          <i class="fa fa-github"></i>
        </a>
      </div> <!-- /.socials-sidebar -->
    </div>
  </aside>
</div> <!-- /#secondary -->
